@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Rajdhani', system-ui, sans-serif;
    background-color: #171920;
  }
}

main {
  position: relative;
  z-index: 2;
}

.wrapper {
  padding: 1rem 3rem;
}

* {
  box-sizing: border-box;
}

.custom-bg {
  background: radial-gradient(farthest-side at top left, rgba(117, 255, 222, 0.32), transparent),
    radial-gradient(farthest-corner at bottom right, rgba(117, 255, 222, 0.32), transparent 400px);
  filter: blur(50px);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
